@page "/"
@*
// You can protect the entire page with the Authorize attribute:
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles="Admin,OtherRole")]
 *@

<h1>Wired brain coffee</h1>

<AuthorizeView>
    <Authorized>
        Welcome to the coffee browser app.
    </Authorized>
    <NotAuthorized>
        Please log in.
    </NotAuthorized>
</AuthorizeView>

<AuthorizeView Roles="Admin,OtherRole">
    <div style="background-color:#444;color:white;padding:10px">
        This is only visibile for admins.
    </div>
</AuthorizeView>
