@page "/"
@*
// You can protect the entire page with the Authorize attribute:
@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize]
 *@

<h1>Wired brain coffee</h1>

<AuthorizeView>
    <Authorized>
        Welcome to the coffee browser app.
    </Authorized>
    <NotAuthorized>
        Please log in.
    </NotAuthorized>
</AuthorizeView>
